//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//font(name,file,size)
font('Lifehack Sans','LifehackSans-Bold',700)
font('Myriad Pro','MyriadPro-Bold',700)
font('Myriad Pro','MyriadPro-Regular',400)
font('Myriad Pro','MyriadPro-Light',300)
font('Truth CYR','TruthCYR-Bold',700)


$v-font =  'Myriad Pro', sans-serif

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

/*
font-size 12px
@extend .type--sm

font-size 14px
@extend .type--main

font-size 16px
@extend .type--md

font-size 18px
@extend .type--mdx

font-size 24px
@extend .type--lg

font-size 36px
@extend .type--xl
*/

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(12,12)

.type--main
	typeSize(14,12)

.type--md
	typeSize(16,14)

.type--mdx
	typeSize(18,16)

.type--lg
	typeSize(24,18)

.type--xl
	typeSize(36,20)

.type--bold
	font-weight bold

h1
	@extend .type--xl
h2
	@extend .type--lg
h3
	@extend .type--mdx
h4
	@extend .type--md
h5
	@extend .type--main

a
	color $link-color
	text-decoration: none
	tr()
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p
	@extend .type--main

.link--mark
	border-bottom 1px dashed black
	&:hover
		color darken($mark,20)
	&:visiter
		color darken($mark,30)

.link--main
	color $link-color
	hover-underline($link-color)
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

.link--text
	color $link-color
	text-decoration underline
	&:hover
		text-decoration none

.text
	p
		line-height: 1.6
		margin-bottom: 30px
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
	ul
		margin-bottom: 30px
		padding-left: 20px
		li
			line-height: 1.6
			margin-bottom: 10px

	ol
		margin-bottom: 30px
		padding-left: 20px
		li
			line-height: 1.6
			margin-bottom: 10px
		@extend .type--sm
