include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.wrap-cont
			.title.title--mid О нас
			img(src="img/about.jpg", alt="" class="img-about")
			.main-cont--sm
				.text
					p
						strong Пицца Паоло — проект компании «Нью Фуд Концепт», занимающейся разработкой и внедрением новых форматов в сфере общественного питания.
					p Наша главная задача — обеспечить беспрецедентно высокое качество продукции и услуг в сфере общественного питания, не выходя за рамки ценовой категории фаст-фуда. Мы добиваемся этой цели, следуя следующим принципам:

					h2.type--mark 1. Использование лучших продуктов от постоянных поставщиков
					p Все ингредиенты, используемые при приготовлении пиццы Паоло, от муки до острых колбасок тщательно отобраны нашим бренд-шефом и не меняются на аналоги ни при каких условиях.

					h2.type--mark 2. Неизменность технологических процессов
					p Технологические процессы, как при производстве заготовок на фабрике-кухне, так и при приготовлении пиццы на розничной точке, строго регламентированы. Технология замеса теста, толщина нарезки ветчины, модель и спецификация печи, время нахождения пиццы в печи, температурный режим нижних и верхних нагревательных элементов — это только малая часть параметров, которые были отработаны в течение многих месяцев кропотливой работы наших специалистов. Только абсолютное соблюдение всех без исключения параметров заготовки и производства позволило добиться стабильно высокого качества конечного продукта.

					h2.type--mark 3. Тщательная подготовка персонала
					p Пиццайоло — человек, в умелых и быстрых руках которого из отдельных составляющих рождается маленький кулинарный шедевр. Процесс приготовления пиццы сложен и требует усердия и сноровки. За кажущейся легкостью, с которой наш пиццайоло раскатывает тесто, раскладывает на нем ингредиенты и закладывает пиццу в печь кроется усердное обучение и долгие тренировки.

					h2.type--mark 4. Тотальный контроль и учёт
					p Наша компания использует ведущий программный комплекс автоматизации ресторанного бизнеса IIKO Chain, с помощью которого мы интегрируем в единое информационное пространство все бизнес-процессы.

					.btn-row-md
						.btn--md.btn--mark.btn--mobile Франчайзинг
		+seo()
	+footer()
include ./block_html/_script.pug
