include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.wrap-cont
			.title.title--mid Доставка и оплата
			.title.title--xs.title--mid.type--mark В выбранной вами зоне доставки "Видное" действуют условия:
			.deliver-type
				.deliver-type__el
					img(src="img/condition-min.svg", alt="")
					.deliver-type__text Минимальная сумма <br> заказа <span class="type--red">299 рублей</span>
				.deliver-type__el
					img(src="img/condition-delivery.svg", alt="")
					.deliver-type__text Стоимость доставки <br> <span class="type--red">100 рублей</span>
				.deliver-type__el
					img(src="img/condition-free.svg", alt="")
					.deliver-type__text Бесплатная доставка <br> <span class="type--red">от 500 рублей</span>
				.deliver-type__el
					img(src="img/condition-time.svg", alt="")
					.deliver-type__text Среднее время доставки <br> <span class="type--red">30-40 минут</span>
			.btn-row-mid
				.btn--sm.btn--light Сменить город и зону доставки
			.map
				.map__el
					//put map her

			.title.title--xs.title--mid.type--mark Также вы можете заказать через сайты или приложения Яндекс Еды и Деливери Клаба
			.partner
				.partner__el
					a(href="#")
						img(src="img/yandex.svg", alt="")
					a(href="#")
						img(src="img/app-google.svg", alt="")
					a(href="#")
						img(src="img/app-apple.svg", alt="")
				.partner__el
					a(href="#")
						img(src="img/deliverclub.svg", alt="")
					a(href="#")
						img(src="img/app-google.svg", alt="")
					a(href="#")
						img(src="img/app-apple.svg", alt="")
			.deliver-desr
				.deliver-desr__row
					.deliver-desr__title Как заказать через Яндекс.Еда или Delivery Club?
					.deliver-desr__text Установите Яндекс.Еда ⁄ Delivery Club на телефон, выберите «Pizza Paolo» / «Пицца Паоло» и заказывайте! Или перейдите на сайт Доставщика и закажите с сайта.
				.deliver-desr__row
					.deliver-desr__title Как узнать, входит ли нужный адрес в зону покрытия доставки Яндекс.Еда или Delivery Club?
					.deliver-desr__text Установите приложение введите адрес. Посетите сайт и введите адрес.
				.deliver-desr__row
					.deliver-desr__title Если нужный адрес попадает в зону покрытия Доставщиков, но «Пицца Паоло» среди предложенных ресторанов не найдена?
					.deliver-desr__text Возможно, именно эта пиццерия «Пицца Паоло» пока не подключена к Яндекс.Еда ⁄ Delivery Club или находится в процессе подключения. Позвоните нам на «Горячую линию», назовите адрес пиццерии и оставьте претензию.
				.deliver-desr__row
					.deliver-desr__title Среднее время доставки:
					.deliver-desr__text 30 — 40 мин.
				.deliver-desr__row
					.deliver-desr__title Бонусные карты:
					.deliver-desr__text не действуют
				.deliver-desr__row
					.deliver-desr__title Цена:
					.deliver-desr__text как в пиццерии, из которой вам привезут пиццу

			.title.title--xs.title--mid.type--mark Оплата
			.text
				p Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Услугу банковской картой Visa или Mastercard. После подтверждения выбранного Товара либо услуги откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3-D Secure. Если Ваш Банк-эмитент поддерживает данную технологию, Вы будете перенаправлены на его сервер для прохождения дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.

				p Услуга онлайн-оплаты осуществляется в соответствии с правилами Международных платежных систем Visa и MasterCard на принципах соблюдения конфиденциальности и безопасности совершения платежа, для этого используются самые актуальные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется в защищенном окне на платежной странице CloudPayments.

				p В поля на платежной странице требуется ввести номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные отображены на поверхности банковской карты.

				p CVV2/ CVC2 — это трёхзначный код безопасности, находящийся на оборотной стороне карты.

				p Далее в том же окне откроется страница Вашего банка-эмитента для ввода 3-D Secure кода. В случае, если у вас не настроен статичный 3-D Secure, он будет отправлен на ваш номер телефона посредством SMS. Если 3-D Secure код к Вам не пришел, то следует обратится в ваш банк-эмитент.

				p 3-D Secure — это самая современная технология обеспечения безопасности платежей по картам в сети интернет.Позволяет однозначно идентифицировать подлинность держателя карты, осуществляющего операцию, и максимально снизить риск мошеннических операций по карте.

				h3 Гарантии безопасности

				p Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3-D Secure.

				p В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов платежного сервиса по электронной почте support@cloudpayments.kz.

				h3 Безопасность онлайн-платежей

				p Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.

				p Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен для проведения платежей онлайн, на специальной странице.

				p Безопасность обработки Интернет-платежей гарантирует ТОО «CloudPayments Kazakhstan». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специализированные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.

				p Оплата платежными картами безопасна, потому что:

				p Система авторизации гарантирует покупателю, что платежные реквизиты его платежной карты (номер, срок действия, CVV2/CVC2) не попадут в руки мошенников, так как эти данные не хранятся на сервере авторизации и не могут быть похищены.

				p Покупатель вводит свои платежные данные непосредственно в системе авторизации CloudPayments, а не на сайте интернет-магазина, следовательно, платежные реквизиты карточки покупателя не будут доступны третьим лицам.

				h3 Возврат денежных средств

				p При проведении онлайн-оплаты посредством платежных карт не допускается возврат наличными денежными средствами. Порядок возврата регулируется правилами международных платежных систем:

				p Потребитель вправе отказаться от товара в любое время до его передачи, после передачи товара отказ необходимо оформить в течение 14 дней;

				p Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;

				p Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;

				p При отказе от товара со стороны потребителя продавец должен вернуть ему денежную сумму, уплаченную потребителем, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования.

				p Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный адрес, и отправить его вместе с приложением копии документа, удостоверяющего личность, по адресу feedback@basilic.kz.

				p Возврат денежных средств будет осуществлен на банковскую карту в течение ___ рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.

				p Для возврата денежных средств по операциям, проведенным с ошибками, необходимо обратиться с письменным заявлением и приложением копии документа, удостоверяющего личность, и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу feedback@basilic.kz.

				p Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.

				p Случаи отказа в совершении платежа:

				ul
					li банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк-эмитент;
					li недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на платежной карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
					li данные банковской карты введены неверно;
					li истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк-эмитент.
					li По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обратиться по следующим телефонам: +7 705 806 06 06
		+seo()
	+footer()
include ./block_html/_script.pug
