include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.wrap-cont
			.main-cont--sm
				.title.title--mid политика обработки персональных данных
				.text
					h2 1. Общие положения

					p 1.1 ИП Сергеев С.В. (далее по тексту – Оператор) ставит соблюдение прав и свобод граждан одним из важнейших условий осуществления своей деятельности.

					p 1.2 Политика Оператора в отношении обработки персональных данных (далее по тексту — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта. Персональные данные обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.

					h2 2. Основные понятия, используемые в Политике:

					p 2.1 Веб-сайт - совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу;

					p 2.2 Пользователь – любой посетитель веб-сайта;

					p 2.3 Персональные данные – любая информация, относящаяся к Пользователю веб-сайта;

					p 2.4 Обработка персональных данных - любое действие с персональными данными, совершаемые с использованием ЭВМ, равно как и без их использования;

					p 2.5 Обезличивание персональных данных – действия, результатом которых является невозможность без использования дополнительной информации определить принадлежность персональных данных конкретному Пользователю или лицу;

					p 2.6 Распространение персональных данных – любые действия, результатом которых является раскрытие персональных данных неопределенному кругу лиц;

					p 2.7 Предоставление персональных данных – любые действия, результатом которых является раскрытие персональных данных определенному кругу лиц;

					p 2.8 Уничтожение персональных данных – любые действия, результатом которых является безвозвратное уничтожение персональных на ЭВМ или любых других носителях.

					h2 3. Оператор может обрабатывать следующие персональные данные Пользователя:

					p 3.1 Список персональных данных, которые обрабатывает оператор: фамилия, имя, отчество, номер телефона, адрес электронной почты, Адрес проживания.

					p 3.2. Кроме того, на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика, Гугл Аналитика и других).

					h2 4. Цели обработки персональных данных

					p 4.1 Персональные данные пользователя - фамилия, имя, отчество, номер телефона, адрес электронной почты, Адрес проживания - обрабатываются со следующей целью: Уточнение деталей и отправка заказа клиенту, уточнение деталей заказа. Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес@yandex.ru

					p 4.2 Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.

					h2 5. Правовые основания обработки персональных данных

					p 5.1 Оператор обрабатывает персональные данные Пользователя только в случае их отправки Пользователем через формы, расположенные на веб-сайте. Отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.

		+seo()
	+footer()
include ./block_html/_script.pug
