include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.wrap-cont
			.title-row
				.title Личный кабинет
				.lk-out
					.lk-out__icon
						+icon("exit","icon")
					.lk-out__text Выйти
			.lk
				.lk-toolbar
					a(href="#").lk-toolbar__el Профиль и адреса
					a(href="#").lk-toolbar__el История заказов
					a(href="#").lk-toolbar__el.lk-toolbar__el--active
						.lk-toolbar__el-text Бонусы
						.bonus-val 240Б
				.lk-content
					.bonus-head
						.bonus-banner
							h1.title.title--sm Бонусный баланс
							.bonus-banner-wrap
								//.bonus-banner__text на вашем счету
								.bonus-banner__val 240 Б
								.bonus-banner__text 1 бонусный балл = 1 рубль
						.bonus-info.text
							h1.title.title--sm Потратить баллы
							p За бонусные баллы вы можете оплатить товары в нашем бонусном интернет-магазине
							.btn--sm.btn--red.btn--mobile Потратить бонусные баллы
					.bonus-content.text
						h2 Что это значит?

						p Еда, приготовленная с душой, всегда только свежие продукты, увлечённые своим делом повара, интересное и разнообразное меню для гурманов и ценителей классики — мы предлагаем попробовать блюда разных кухонь мира и оценить преимущества.

						p Если хочется заказать еду с доставкой домой или в офис, заходите на к нам в кафе по адресу.

						p Повара  готовят по традиционным и классическим рецептам, а также воплощают собственные кулинарные идеи. Мы постоянно растём и развиваемся, добавляя в меню новые интересные позиции и совершенствуя условия обслуживания, будь то доставка готовой еды на дом клиенту или в офис для корпоративного праздника.
						h2 На что можно потратить баллы?

						p Повара Правила Суши готовят по традиционным и классическим рецептам, а также воплощают собственные кулинарные идеи. Мы постоянно растём и развиваемся, добавляя в меню новые интересные позиции и совершенствуя условия обслуживания, будь то доставка готовой еды на дом клиенту или в офис для корпоративного праздника.

						p Пиццу здесь готовят из отборный продуктов, что явно не может не радовать. И, несмотря на то, что тесто готовят по традиционному неаполитанскому рецепту, у них есть интересная фишка. Это, так званое, сочетание классики и авангарда — к примеру, есть пиццы с морепродуктами, с корнишонами, каперсами и с экзотическими продуктами. В День рождение в ресторанах Mamamia вам вернут 100% от счета на бонусный счет.
		+seo()
	+footer()
include ./block_html/_script.pug
