include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.wrap-cont
			.title.title--mid Акции
			.card-list
				- for (var i=0;i<8;i++)
					.card-list__el
						.card-list__img(style="background-image:url('img/sale-5.jpg')")
						.card-list__info
							.card-list__title Мясная пицца в подарок!
							.card-list__decr Две оригинальные пиццы 30 см – Четыре Сезона и Гавайская + пара бутылочек Кока-Кола 0,5 л. Самое додоброе и бодрящее сочетание! Выберите комбо в меню
		+seo()
	+footer()
include ./block_html/_script.pug
