-
	pages = [
		{
			'name':'Элементы',
			'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Заказ',
			'href':'order'
		},
		{
			'name':'Отзывы',
			'href':'review'
		},
		{
			'name':'О компании',
			'href':'about'
		},
		{
			'name':'Статичная страница',
			'href':'info'
		},
		{
			'name':'Акции',
			'href':'sale-list'
		},
		{
			'name':'Акции подробная',
			'href':'sale-item'
		},
		{
			'name':'Личный кабинет профиль',
			'href':'lk-profile'
		},
		{
			'name':'Личный кабинет история',
			'href':'lk-history'
		},
		{
			'name':'Личный кабинет бонусы',
			'href':'lk-bonus'
		},
		{
			'name':'Франчайзинг',
			'href':'franch'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name':'Модальные окна',
			'href':'modal'
		}
	]

