-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Заказ',
			'href':'order'
		},
		{
			'name':'Доставка и оплата',
			'href':'payment'
		},
		{
		'name':'Отзывы',
		'href':'review'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},

		{
			'name':'О компании',
			'href':'about'
		},
		{
			'name':'Акции',
			'href':'sale-list'
		},
		{
			'name':'Акции подробная',
			'href':'sale-item'
		},
		{
			'name':'Статья подробная',
			'href':'news-full'
		},
		{
			'name':'Личный кабинет профиль',
			'href':'lk-profile'
		},
		{
			'name':'Личный кабинет история',
			'href':'lk-history'
		},
		{
			'name':'Личный кабинет бонусы',
			'href':'lk-bonus'
		},
		{
		'name':'Франчайзинг',
		'href':'franch'
		},
		{
			'name':'Модальные окна',
			'href':'modal'
		}
	]

